html[data-theme='dark'] { /* Dark theme variables */
    --black: #393E46;
    --dark-black: #222831;
    --light-green: #2BCED6;
    --dark-green: #00ADB5;
    --white: #FFFFFF;
    --gray: #444444;

    --background-color: #222831;
    --dropdown-body-color: #ededed;
    --menu-back-color: #2BCED6;
    --modal-background: #00ADB5;
    --modal-color: #ededed;
}

html[data-theme='light'] { /* Light theme variables */
    --black: #393E46;
    --dark-black: #222831;
    --light-green: #2BCED6;
    --dark-green: #00ADB5;
    --white: #FFFFFF;
    --gray: #EEEEEE;

    --background-color: #FFFFFF;
    --dropdown-body-color: #393E46;
    --menu-back-color: #222831;
    --modal-background: rgb(238, 238, 238);
    --modal-color: #ededed;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after { /* Switch dark and light theme with fading */
    transition: all 400ms !important;
    transition-delay: 0 !important;
}

body {
    height: 100vh;
    color: var(--black);
    overflow: hidden;
    background-color: var(--dark-green);
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

#container {
    padding: 20px;
    background-color: var(--background-color);
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;      /* Pushes back the container */
    left: -50%;     /* so the view can be in the middle*/
    transition: transform .2s;    /* Makes zooming smooth */
    border: 5px solid var(--light-green);      /* Bounding box for container */
}

/* Node code */
.node {
    height: 80px;
    width: 80px;
    background: #393E46;
    border-radius: 50px;
    position: absolute;
}
.input-group {
    width: 40px;
    top: 20px;
}

.node-text {
    width: 40px;
    height: 40px;
    font-size: 2em;
    font-weight: 500;
    opacity: 1;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    padding: 0px !important;
    color: white;
}
.node-text-border {
    border-bottom: 1.5px solid !important;
}
.remove-btn{
    position: absolute;
    color: #D62B2B;
    width: 25px;
    height: 25px;
    right: 5px;
    top: 0px;
    font-size: 22px;
    z-index: 3;
    cursor: pointer;
}
.remove-btn i{
    background-color: white;
    line-height: 0.3;
    width: 17px;
}
.remove-btn i:before{
    margin-left: -1px;
}
.hidden{
    display: none;
}
.jtk-endpoint{
    transform: scale(0.6);
    z-index: 2;
}
.tilde{
    transform: scale(1) !important;
}
.scale-08{
    transform: scale(0.8) !important;
}
.tilde svg circle{
    fill: var(--green);
}
.tilde::after{
    content: "~";
    width: 20px;
    height: 20px;
    color: white;
    font-size: 20px;
    top: -5px;
    left: 3.2px;
    position: absolute;
}


.grid {
    background-image: url("../images/grid.svg");
    background-size: 40px;
}
.nav-item > div > i{
    transition: all .3s;
}
.btn-on{
    opacity: 1 !important;
}
.fa-sun, .fa-border-none, #edit-btn{
    opacity: 0.5;
}
.fa-sun:hover, .fa-border-none:hover, #edit-btn:hover{
    opacity: 1;
}
#edit-btn{
    transition: all .3s;
}
.slow-transition{
    transition: transform .2s, margin .5s !important;  /* Makes setting back the container smooth */
}

.container-dragging{
    cursor: move;
}

/* Custom scrollbar */
::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: var(--gray);
}

::-webkit-scrollbar-thumb
{
    background-color: var(--dropdown-body-color);
    border-radius: 5px;
}

/* Navbar */
.navbar-nav{
    flex-direction: row;    /* Overrides default flex-direction: column;*/
}
.navbar{
    height: 55px;
    background-color: var(--light-green);
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: all .3s;
}
.nav-item div{
    font-size: 30px;
    margin-right: 50px;
}
#navbar-btn > i{
    transition: all .3s;
}
#navbar-content{
    height: 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--gray);
    z-index: 2;
    transition: all .3s;
    padding: 20px;
    color: var(--dropdown-body-color);
    margin: 0px;
}
.navbar-content-open{
    height: 200px !important;
}
#current-operation{
    font-weight: 500;
    font-size: 25px;

    margin-right: 40px;
}
.navbar-text i{
    font-size: 35px;
}
.navbar-text{
    padding: 0px !important;
}
.navbar div{
    cursor: pointer;
    vertical-align: middle;
    padding-bottom: 8px;
}

/* Floating items */
.floating-dropdown{
    position: fixed;
    width: 220px;
    height: 50px;
    background-color: var(--light-green);
    z-index: 1;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px; /* Same as height. Centers the text*/
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.floating-dropdown > span > div > i{
    transition: all .3s;
    cursor: pointer;
}
.floating-dropdown span{
    padding-left: 25px;
    padding-right: 25px;
}
.floating-dropdown span div{
    padding-right: 25px;
}
.floating-dropdown div{
    float: right;
    font-size: 28px;
}
#representation{
    transition: all .3s;
}
#steps{
    right: 25px;
    transition: all .3s;
}
#output{
    right: 25px;
    top: calc(50vh - 50px);
    width: 210px;
    height: 50px;
    margin-top: 0px;
    transition: all .3s;
}
.dropdown-body{
    background-color: var(--gray);
    overflow-y: scroll;
    font-size: 16px !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 0px 0px 5px 5px;
    transition: all .3s;
    color: var(--dropdown-body-color);
    width: 100%;
}
.dropdown-body::-webkit-scrollbar{
    border-bottom-right-radius: 5px;
}
#output-body{
    line-height: 1.5em;
    width: 100%;
}
.dropdown-body-closed{
    max-height: 0px;
}
.dropdown-representation-body-open{
    max-height: 75vh !important;
    padding: 15px;
}
.dropdown-steps-body-open{
    max-height: calc(50vh - 125px) !important;
    padding: 15px;
}
.dropdown-output-body-open{
    max-height: calc(50vh - 55px) !important;
    padding: 15px;
}
.dropdown-open{
    width: 350px !important;
}
.dropdown-border-radius{
    border-radius: 5px 5px 0px 0px !important;
}
.navbar-open{
    bottom: 200px;
}

/* Dropdown tables */
.representation-section{
    float: none !important;
}
.section-header{
    padding: 0px !important;
    width: 100%;
    font-size: 24px;
}
.section-header > i{
    float: right;
    padding-top: 15px;
    font-size: 20px;
    cursor: pointer;
}
.table{
    font-size: 20px;
    color: var(--dropdown-body-color);
    display: none;
    width: 0;
    min-width: 50%;
    margin: auto;
}
.table-bordered td, .table-bordered th{
    border:2px solid var(--dropdown-body-color) !important;
  }
.table-open{
    display: table;
}
.table td {
    text-align: center;
}
.divider-line{
    width: 100%;
    background-color: var(--dropdown-body-color);
    height: 3px;
    margin-bottom: 15px;
    margin-top: -10px;
}

/* Navbar cards */
.navbar-card{
    width: 300px; height: 104px;
    border: 2px solid var(--dropdown-body-color);
    border-radius: 5px;
    margin: 0px;
    margin-right: 20px !important;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    padding: 0px;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-top: 0px !important;
    display: inline-block;
}

.navbar-card .row .col-sm{
    padding: 0px;
}
.navbar-card-text{
    width: 50px;
    margin-left: 15px !important;
    margin-right: 15px !important;
    font-size: 20px;
    font-weight: 500;
    white-space: normal;
}
.read-more{
    color: var(--light-green);
    padding: 0px !important;
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 20px;
    transition: color .3s;
}
.read-more:hover{
    color: var(--dropdown-body-color);
}

#text-nav{
    padding: 0px !important;
    margin: 0px !important;
}
#navbar-content > .row{
    margin: 10px !important;
}
#card-holder{
    overflow: auto;
    white-space: nowrap;
}
.menu-back{
    cursor: pointer;
    color: var(--menu-back-color);
    transition: color .3s;
}
.menu-back:hover{
    color: var(--dropdown-body-color) !important;
}
#modal-navigation{
    font-size: 1.3em;
}

.selected-menu-item{
    border-color: var(--light-green);
}
.selected-menu-item:after{
    content: "\f00c";
    position: absolute;
    background-color: var(--light-green);
    border-radius: 0px 0px 5px 0px;
    padding: 2px 5px 2px 5px;
    font-size: 0.9em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0;
    left: 0;
}
.fixed-bottom{
    z-index: 3 !important;
}
#start-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--modal-background);
    z-index: 4;
    color: var(--dropdown-body-color);
    padding: 20px;
}
#start-modal-holder{
    padding: 30px;
    overflow-y: auto;
    height: 90vh !important;
}
#start-modal-holder .container{
    margin-bottom: 10px !important;
}
.navbar-card .row{
    background-color: var(--gray);
    color: var(--dropdown-body-color);
}
#modal-navigation .menu-back{
    width: fit-content;
    display: inline-block;
}
#modal-menu{
    display: none;
    text-align: center;
}
#modal-intro .container .row .col{
    background-color: var(--black); 
    border-radius: 5px; 
    padding: 15px;
    color: var(--white);
}
a:not([href]):hover{
    text-decoration: underline;
    cursor: pointer;
}
#start-btn{
    cursor: pointer;
    color: var(--black);
    transition: color .3s;
}
#start-btn:hover{
    color: var(--dropdown-body-color) !important;
}
/* UI helper buttons */
.ui-helper-btn{
    width: 50px;
    border-radius: 5px;
    background-color: var(--light-green);
    position: fixed;
    z-index: 1;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    bottom: 65px;
}
#node-add-btn{
    left: 50%;
    margin-left: -53px; /* Half of width */
}
#reset-graph-btn{
    left: 50%;
    margin-left: 3px; /* Half of width */
}
#zoom-in{
    right: 137px;
}
#zoom-out{
    right: 81px;
}
#zoom-reset{
    right: 25px;
}