html[data-theme='dark'] { /* Dark theme variables */
    --black: #393E46;
    --dark-black: #222831;
    --light-green: #2BCED6;
    --dark-green: #00ADB5;
    --white: #FFFFFF;
    --gray: #EEEEEE;

    --background-color: #222831;
}

html[data-theme='light'] { /* Light theme variables */
    --black: #393E46;
    --dark-black: #222831;
    --light-green: #2BCED6;
    --dark-green: #00ADB5;
    --white: #FFFFFF;
    --gray: #EEEEEE;

    --background-color: #FFFFFF;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after { /* Switch dark and light theme with fading */
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

body {
    height: 100vh;
    color: var(--black);
    overflow: hidden;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

#container {
    padding: 20px;
    background-color: var(--background-color);
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;      /* Pushes back the container */
    left: -50%;     /* so the view can be in the middle*/
    transition: transform .2s;    /* Makes zooming smooth */
    border: 2px solid var(--grid-color);      /* Bounding box for container */
}

.node {
    min-height: 100px;
    width: 100px;
    background: var(--node-background-color);
    border-radius: 5px;
    position: absolute;
}

.form-control {
    width: 50px;
    height: 50px;
    top: -7px;
    font-size: 1.5em;
}

.smooth-shadow {
    box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.016),
    0 3.9px 5.3px rgba(0, 0, 0, 0.022), 0 9.7px 10px rgba(0, 0, 0, 0.025),
    0 19.3px 17.9px rgba(0, 0, 0, 0.027),
    0 35.6px 33.4px rgba(0, 0, 0, 0.03), 0 74px 80px rgba(0, 0, 0, 0.04);
}

.grid {
    background: url("../images/grid.svg");
    background-size: 50px;
    border-top: 0px !important;     /* Bounding box for container */
    border-left: 0px !important;
}

.slow-transition{
    transition: transform .2s, margin .5s !important;  /* Makes setting back the container smooth */
}

.container-dragging{
    cursor: move;
}


/* Navbar */
.navbar-nav{
    flex-direction: row;    /* Overrides default flex-direction: column;*/
}
.navbar{
    height: 55px;
    background-color: var(--light-green);
    padding-left: 50px;
    padding-right: 50px;

    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.16);
}
.nav-item div{
    font-size: 30px;
    margin-right: 50px;
}
.nav-item div svg{
    vertical-align: 0px !important;
}
#current-operation{
    font-weight: 500;
    font-size: 28px;
    
    margin-right: 40px;
}
.navbar-text div{
    font-size: 35px;
    margin-top: -5px;
}
.navbar-text{
    padding: 0px !important;
}

/* Floating items */
.floating-dropdown{
    position: fixed;
    width: 350px;
    height: 50px;
    background-color: var(--light-green);
    z-index: 1;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px; /* Same as height. Centers the text*/
    padding-left: 25px;
    padding-right: 25px;
    width: 350px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.floating-dropdown div{
    float: right;
    font-size: 28px;
}
#steps{
    right: 0;
}
#output{
    right: 0;
    top: 50%;
    width: fit-content;
    padding-left: 13px;
    padding-right: 13px;
}
div > svg{
    cursor: pointer;
}