html[data-theme='dark'] { /* Dark theme variables */
  --black: #393E46;
  --dark-black: #444444;
  --light-green: #2BCED6;
  --dark-green: #00ADB5;
  --white: #FFFFFF;
  --gray: #444444;

  --background-color: #222831;
  --text-color: #FFFFFF;

  --side-menu-color: #FFFFFF;

  --bold-weight: 500;
  --bold-color: #00adb5;

  --pastel-green: #A8D08D;	
  --light-gray: #AEAAAA;

  --card-overlay: #ffffffb8;
}

html[data-theme='light'] { /* Light theme variables */
  --black: #393E46;
  --dark-black: #222831;
  --light-green: #2BCED6;
  --dark-green: #00ADB5;
  --white: #FFFFFF;
  --gray: #EEEEEE;

  --background-color: #FFFFFF;
  --text-color: #393E46;

  --side-menu-color: #FFFFFF;

  --bold-weight: 700;
  --bold-color: #222831;

  --pastel-green: #A8D08D;	
  --light-gray: #AEAAAA;

  --card-overlay: #393e45e0;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after { /* Switch dark and light theme with fading */
    transition: all 400ms !important;
    transition-delay: 0 !important;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background-color: var(--background-color);
  overflow-x: hidden;
}

b, strong{
  font-weight: var(--bold-weight) !important;
  color: var(--bold-color) !important;
}

/* Side navigation bar */
#side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: var(--dark-black);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  /* Mozilla scroll width */
  scrollbar-width: thin;
}
.closebtn {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: var(--text-color);
  display: none;
}

#side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--side-menu-color);
  display: block;
  transition: 0.3s;
}

#side-nav a:hover {
  color: var(--light-green);
}

#side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: var(--side-menu-color);
}

#main-content {
  transition: margin-left .5s;
  padding: 0px;
  overflow: hidden;
}

@media screen and (max-height: 450px) {
  #side-nav {padding-top: 15px;}
  #side-nav a {font-size: 18px;}
}

/* Top navigation bar */
.navbar-top {
  overflow: hidden;
  background-color: var(--gray);
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  z-index: 10;
  color: var(--text-color);
}
.navbar-top a {
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid var(--gray);
  transition: border-bottom .2s;
}
.navbar-top a:hover {
  border-bottom: 3px solid var(--light-green);
  cursor: pointer;
}

#sub-content{
  padding-top: 80px !important;
  padding: 10%;
  color: var(--text-color);
  overflow: hidden;
}

/* Header */
#header{
  text-align: center;
  display: block;
  margin-top: 60px;
  position: relative;
}
#header img{
  height: 100px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -50px; /* Half the height */
  margin-left: -254px; /* Half the width */
}
#header h1{
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  #header img{height: 50px; margin-top: -25px;margin-left: -127px;}
  #header{margin-top: 0px;}
  #sub-content{margin-top: 50px; padding: 10px;}
}
/* Canvas header */
#canvas{
  width: 100% !important;
  background-color: var(--dark-green);
}
#header h1{
  position: absolute;
  left: 0px;
  top: 45%;
  width: 100%;
  color: var(--black);
  padding: 10px;
}
.btn{
  width: fit-content;
  background-color: var(--light-green);
  color: var(--black);
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin: auto;
  font-size: 0.5em;
  transition: all .3s;
}
.btn-on{
  opacity: 1 !important;
}
.btn:hover{
  font-size: 0.6em;
}

/* Custom scrollbar */
::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--gray);
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: var(--gray);
}

::-webkit-scrollbar-thumb
{
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--light-green);
}
/* Mozilla scrollbar fix */
.moz-scroll {
  scrollbar-color: var(--light-green) var(--gray);
  scrollbar-width: thin;
}
script[type="text/plain"]{
  scrollbar-width: thin;
}

/* Side menu components */
.side-section-1{
 font-size: 20px !important;
 padding-left: 50px !important;
 padding-top: 0px !important;
 word-break: break-word;
}

.side-section-2{
  font-size: 16px !important;
  padding-left: 80px !important;
  padding-top: 0px !important;
  word-break: break-word;
 }

/* Main content components */
h1{
  font-size: 2.5em;
  border-bottom: 3px solid var(--dark-green);
  padding-top: 50px;
}

table{
  position: relative;
  border-collapse: collapse;
  border: solid 3px var(--dark-black);

  background-color: var(--white);
  color: var(--black);
}

.margin-auto-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

th, td{
  padding: 10px;
  text-align: center;
}

h2{
  padding-top: 50px;
}

.container{
  margin-bottom: 10px !important;
}
.col-sm{
  margin-bottom: 10px !important;
}
.overflow-x-hide{
  overflow-x: none;
}
.overflow-x-hide-lg{
  overflow-x: none;
}
.overflow-x-hide-sm{
  overflow-x: none;
}
@media only screen and (max-width: 425px) {
  .overflow-x-hide{
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 535px) {
  .overflow-x-hide-lg{
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 260px) {
  .overflow-x-hide-sm{
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 1000px) {
  .closebtn{
    display: initial;
  }
}
/* Fix for close button on landscape devices */
@media (orientation: landscape){
  #side-nav > div > a:first-of-type{
    padding-top: 40px;
  }
}
/* Fixes EXIF orientation problem on Mozilla and Edge */
img{
  image-orientation: from-image;
}

/* Question cards */
.cardslider-container{
  width: 100%;
  height: 500px;
}
.cardslider__card{
  border: solid transparent 24px; /* Using this instead of padding to fix overflowing issue */
  background-color: var(--text-color);
  color: var(--gray);
  max-width: 600px;
  overflow-y: hidden;
}
.question-step{
  font-size: 1em;
  font-weight: 500;
  padding-bottom: 5px;
}
.question-text{
  font-size: 1.2em;
  max-width: 550px;
  margin: 0 auto;
  padding-right: 5px;
}
.question-body{
  overflow-y: auto;
  height: 95%;
}
.cardslider{
  width: 50%;
}
.blur{
  filter: blur(5px);
}

.card-overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translate(0px, -97%);
  z-index: 5;
  background-color: var(--card-overlay);
  overflow-x: hidden;
}

@media only screen and (max-width: 1260px) {
  .cardslider{
    width: 100% !important;
  }
}
@media only screen and (max-width: 320px) {
  .inputGroup label{
    width: 50% !important;
  }
}
@media only screen and (max-width: 375px) {
  .inputGroup label{
    width: 65%;
  }
}
@media only screen and (max-width: 425px) {
  .inputGroup label{
    width: 70%;
  }
}
@media only screen and (max-width: 650px) {
  .inputGroup label{
    width: 70%;
  }
}