body {
    font-family: "Roboto";
    margin: 0px;
}

/* Side navigation bar */
#side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222831;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#side-nav a:hover {
  color: #f1f1f1;
}

#side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main-content {
  transition: margin-left .5s;
  padding: 0px;
}

@media screen and (max-height: 450px) {
  #side-nav {padding-top: 15px;}
  #side-nav a {font-size: 18px;}
}

/* Top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #EEEEEE;
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
}
.navbar a {
    float: left;
    display: block;
    color: #222831;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid #EEEEEE;
    transition: border-bottom .2s;
}
.navbar a:hover {
    border-bottom: 3px solid #2BCED6;
}

#sub-content{
    margin-top: 50px;
    padding: 30px;
}

/* Header */
#header{
    text-align: center;
    display: block;
}
#header img{
    height: 100px;
}
#header h1{
    font-weight: 300;
}
@media only screen and (max-width: 768px) {
    #header img{height: 50px;}
    #sub-content{margin-top: 130px; padding: 10px;}
}