:root{
  --black: #393E46;
  --dark-black: #222831;
  --light-green: #2BCED6;
  --dark-green: #00ADB5;
  --white: #FFFFFF;
  --gray: #EEEEEE;
  --pastel-green: #A8D08D;
  --light-gray: #AEAAAA;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

/* Side navigation bar */
#side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: var(--dark-black);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.closebtn {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: var(--gray);
  display: none;
}

#side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--gray);
  display: block;
  transition: 0.3s;
}

#side-nav a:hover {
  color: var(--light-green);
}

#side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main-content {
  transition: margin-left .5s;
  padding: 0px;
}

@media screen and (max-height: 450px) {
  #side-nav {padding-top: 15px;}
  #side-nav a {font-size: 18px;}
}

/* Top navigation bar */
.navbar-top {
  overflow: hidden;
  background-color: var(--gray);
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  z-index: 10;
}
.navbar-top a {
  float: left;
  display: block;
  color: var(--black);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid var(--gray);
  transition: border-bottom .2s;
}
.navbar-top a:hover {
  border-bottom: 3px solid var(--light-green);
  cursor: pointer;
}

#sub-content{
  padding-top: 80px !important;
  padding: 10%;
  color: var(--black);
  overflow: hidden;
}

/* Header */
#header{
  text-align: center;
  display: block;
  margin-top: 60px;
}
#header img{
  height: 100px;
}
#header h1{
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  #header img{height: 50px;}
  #header{margin-top: 0px;}
  #sub-content{margin-top: 50px; padding: 10px;}
}

/* Custom scrollbar */
::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--gray);
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: var(--gray);
}

::-webkit-scrollbar-thumb
{
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--light-green);
}

/* Side menu components */
.side-section-1{
 font-size: 20px !important;
 padding-left: 50px !important;
 padding-top: 0px !important;
 word-break: break-word;
}

.side-section-2{
  font-size: 16px !important;
  padding-left: 80px !important;
  padding-top: 0px !important;
  word-break: break-word;
 }

/* Main content components */
h1{
  font-size: 2.5em;
  border-bottom: 3px solid var(--dark-green);
  padding-top: 50px;
}

table{
  position: relative;
  border-collapse: collapse;
  border: solid 3px var(--dark-black);
}

.margin-auto-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

th, td{
  padding: 10px;
  text-align: center;
}

h2{
  padding-top: 50px;
}

.container{
  margin-bottom: 10px !important;
}
.col-sm{
  margin-bottom: 10px !important;
}
.overflow-x-hide{
  overflow-x: none;
}
.overflow-x-hide-lg{
  overflow-x: none;
}
.overflow-x-hide-sm{
  overflow-x: none;
}
@media only screen and (max-width: 425px) {
  .overflow-x-hide{
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 535px) {
  .overflow-x-hide-lg{
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 260px) {
  .overflow-x-hide-sm{
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 1000px) {
  .closebtn{
    display: initial;
  }
}