body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background-color: #00ADB5;
  position: relative;
  height: 100vh;
  color: white;
}
/* Canvas header */
#canvas{
  width: 100%;
  background-color: #00ADB5;
  height: 100%;
}
#content{
  width: 100%;
  height: fit-content;
  min-height: 100%;
  background-color: #2228313b;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 10px;
}
.card{
  display: inline-block;
  margin: 20px;
  background-color: #393E46;
}
.img-fluid{
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background-color: #2BCED6;
  border-color: #2BCED6;
  color: #393E46;
  font-weight: 500;
}
.btn:hover{
  background-color: #2399a0;
  border-color: #2399a0;
}
.btn:active{
  background-color: #2399a0 !important;
  border-color: #2399a0 !important;
}
.btn:focus{
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 220, 0.5) !important;
}
.flag{
  height: 24px;
}
@media only screen and (max-width: 768px) {
  h1{
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 679px) {
  .img-fluid{
    padding: 0px;
  }
  .card{
    margin-left: 0px;
    margin-right: 0px;
  }
}